body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    color: black;
    text-align: center;
    margin: 0;
    padding: 0;
    transition: 0.3s;
}

body.dark {
    background: #121212;
    color: white;
}

h1 {
    margin-top: 20px;
    font-size: 40px;
}

.top-controls button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    background: orange;
    color: white;
    cursor: pointer;
    border-radius: 8px;
    font-size: 16px;
}

.top-controls button:hover {
    background: #07ea56;
}

.score-board {
    font-size: 18px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.game-board {
    width: 300px;
    margin: 30px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    position: relative;
}

.cell {
    width: 100px;
    height: 100px;
    background: white;
    color: black;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 12px;
    transition: 0.2s;
}

body.dark .cell {
    background: #1f1f1f;
    color: white;
}

.cell:hover {
    background: #10ee27;
}

body.dark .cell:hover {
    background: #333;
}

.win-line {
    position: absolute;
    height: 6px;
    background: red;
    width: 0;
    border-radius: 5px;
    transform-origin: left;
    transition: 0.4s ease-in-out;
}

.reset {
    margin-top: 20px;
    padding: 12px 25px;
    border: none;
    background: #06bb06;
    color: white;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
}

.reset:hover {
    background: darkgreen;
}
